/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.box-title .fa{
    margin-right:10px;
}

a {
    color: #333;
    cursor: pointer;
}

.btn {
    margin-bottom:15px !important;
}

.txtLargo{
    width: 100%;
}

.navbar-header {
    min-height: 50px;
    display: table;
    width: 100%;
    position: relative;
    background-color: white;
    margin-bottom: 25px;
}

.menu-site-left {
    float:left;
    text-align:center;
}

.menu-site-right {
    float: right;
    text-align: center;
}

.breadcrumb{
    position:relative !important;
    float:left !important;
}

.container-fluid {
    background-color: #eeeeee;
}

.select2 {
    width:100% !important;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.lbl100{
    width:100%;
}

.lst100 {
    width: 100%;
}

.display-none{
    display:none;
}

.display{
    display:block;
}

.alert{
    margin-top:20px;
}

m-bottom-20 {
margin-bottom:20px;
}



/* Body Custom */

body {
    height: 100vh !important;
    min-height: 100% !important;
    display: flex;
    flex-flow: column;
}


/* Nav Item */

.nav-item {
   text-align: center;
}


/* Boostrap Modal Customs */
.close {
    font-weight: 900 !important;
    opacity: inherit !important;
}

/* Custom Layout */

.container-fluid {
    height: auto;
    flex: 1;
    width: 100%;
    padding-top: 15px;
}

.navbar-header {
    margin-bottom: inherit!important;
}