
<span style="font-size: 16px; color: white; font-style: italic;">Solicitud de Anticipo:@Model.NumeroSolicitud</span><br />
<span style="font-size: 14px; color: white; font-style: italic;">Fecha del informe:  @Model.FechaSolicitud </span><br />