<style>
    .inside {
        padding-right: 2%;
        padding-left: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
</style>

@model Legalizaciones.Web.Models.AprobacionDocumento

@{
    ViewData["Title"] = "Configuracion de Flujo para Aprobacion de Documentos";
}
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <small>
                    <a href='@Url.Action("Index", "Home")'> Inicio </a>
                    <strong>Aprobacion:  Anticipos - Legalizaciones </strong>
                </small>
            </div>
        </div>
    </div>
</div>
<!-- LISTAS DE DOCUMENTOS Y FLUJOS ASOCIADOS-->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <div class="col-md-12">

                    <div class="col-md-12 pb-2">
                        <label class="control-label"> <strong> Tipo Solicitud </strong></label>
                        <select id="solicitud" name="solicitud" style="width:40%;height:30px; font-size:16px;"></select>
                    </div>
                    <div style="height:15px;"></div>
                    <div class="col-md-12 pb-2">
                        <label class="control-label"> <strong> Rangos / Montos</strong></label>
                        <select id="flujos" name="flujos" style="width:40%;height:30px; font-size:16px;"></select>
                        <br /><br />
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" style="float:right;" id="verFlujo" name="verFlujo" onclick="GetVerFlujo();">Ver Flujo de Aprobacion</button>
                    </div>
                    <button type="button" class="btn btn-primary" style="float:right;" onclick="SetNuevoFlujo();" id="flow" name="flow">Nuevo Flujo de Aprobacion</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--TABLA DE  FLUJO DE APROBACION Y BOTON PARA AGREGAR PASO-->
<table id="tblAprobadores" class="table table-bordered table-hover">
    <thead></thead>
    <tbody></tbody>
</table>
<div id="btnAddPaso"></div>

<!-- MODAL NUEVO FLUJO -->
<div id="nuevoFlujoModal" class="modal fade" role="application">
    <div class="modal-dialog">
        <div class="modal-content">
            <div align="center" style="font-size:24px;color:white;background-color:black">STUDIO F</div>
            <div align="center" style="background-color:orange;height:8px"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="xx" name="xx" onclick="ClearAll();">&times;</button>
                <label class="modal-title text-center" id="msjNuevoFlujo" name="msjNuevoFlujo"> </label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label id=" lblDestino">Destino</label>
                        <select id="Destino" name="Destino"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Monto Minimo</label>
                        <input type="number" id="montoMinimo" name="montoMinimo" class="form-control" maxlength="12" value="" placeholder="0,00" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Monto Maximo</label>
                        <input type="number" id="montoMaximo" name="montoMaximo" class="form-control" maxlength="12" value="" placeholder="0,00" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Descripcion</label>
                        <input type="text" id="descripcion" name="descripcion" class="form-control" maxlength="250" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Nombre Aprobador</label>
                        <select id="Empleado" name="Empleado"> </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Nombre Suplente 1</label>
                        <select id="nuevoSuplente1" name="nuevoSuplente1"> </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Nombre Suplente 2</label>
                        <select id="nuevoSuplente2" name="nuevoSuplente2"> </select>
                    </div>
                </div>
                <table id="tblFlujo" class="table table-bordered table-hover">
                    <thead></thead>
                    <tbody></tbody>
                </table>
                <div class="row">
                    <div class="modal-footer">
                        <input type="button" id="addFlujo" class="btn btn-primary" value="Agregar" onclick="EnviarDataAprobador();" />
                        <input type="button" id="cancelFlujo" class="btn btn-primary" value="Hecho" onclick="ClearAll();" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<!--MODAL ACTUALIZACION DE FLUJO -->
<div id="dataModal" name="dataModal" class="modal fade" role="application">
    <div class="modal-dialog">
        <div class="modal-content">
            <div align="center" style="font-size:24px;color:white;background-color:black">STUDIO F</div>
            <div align="center" style="background-color:orange;height:8px"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title text-center" id="msjDataUpdate" name="msjDataUpdate"> </label>
            </div>
            <div class="row inside">
                <div class="col-md-12 pb-2">
                    <label>* Descripcion</label>
                    <input type="text" id="descripcionT" name="descripcionT" class="form-control" />
                </div>
            </div>
            <div class="row inside">
                <div class="col-md-12 pb-2">
                    <label id="empleo" name="empleo">* Empleado</label>
                    <select id="Empleado2" name="Empleado2" style="display:block"> </select>
                </div>
            </div>
            <div class="row inside">
                <div class="col-md-12 pb-2">
                    <label>Nombre Aprobador</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" style="display:block" readonly />
                </div>
            </div>

            <div class="row inside">
                <div class="col-md-12 pb-2">
                    <label id="empleo" name="empleo">Suplentes 1</label>
                    <select id="suplente11" name="suplente11" style="display:block"> </select>
                </div>
            </div>
            <div class="row inside">
                <div class="col-md-12 pb-2">
                    <label>Suplente 1</label>
                    <input type="text" id="suplent1" name="suplent1" class="form-control" style="display:block" readonly />
                </div>
            </div>
            <div class="row inside">
                <div class="col-md-12 pb-2">
                    <label id="empleo" name="empleo">Suplentes 2</label>
                    <select id="suplente22" name="suplente22" style="display:block"> </select>
                </div>
            </div>
            <div class="row inside">
                <div class="col-md-12 pb-2">
                    <label>Suplente 2</label>
                    <input type="text" id="suplent2" name="suplent2" class="form-control" style="display:block" readonly />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 pb-2"> </div>
            </div>
            <br />
            <div class="row inside">
                <div class="col-md-12 pb-2">
                    <input type="button" class="btn btn-primary" style="float:right;" id="modificar" name="modificar" onclick="Actualizar();" />
                    <input type="button" class="btn btn-primary" style="float:right;" id="cancelado" name="cancelado" value="Cancelar" onclick="CloseDataModal();" />
                </div>
            </div>
            <br />
        </div>
    </div>
</div>


<!-- MODAL ELIMINAR PASO FLUJO-->
<div id="dataModal2" name="dataModal2" class="modal fade" role="application">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title text-center" id="msjDataEliminar" name="msjDataEliminar"> </label>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2"> </div>
            </div>

            <div class="row inside">
                <div class="col-md-12 pb-2">
                    <input type="button" class="btn btn-primary" style="float:right;" id="delete" name="delete" value="SI" onclick="Eliminar();" />
                    <input type="button" class="btn btn-primary" style="float:right;" id="dont" name="dont" value="NO" onclick="CloseDataModal2();" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL PREGUNTA -->
<div id="preguntaModal" name="preguntaModal" class="modal fade inside" role="application">
    <div class="modal-dialog">
        <div class="modal-content inside">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title text-center" id="msjPreguntaModal" name="msjPreguntaModal"> </label>
            </div>
            <div class="row inside">
                <div class="col-md-12 pb-2">
                    <input type="button" class="btn btn-primary" style="float:right;" id="si" name="si" value="SI" onclick="OpenDataModal();" />
                    <input type="button" class="btn btn-primary" style="float:right;" id="no" name="no" value="NO" onclick="CloseQuestionModal();" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL MENSAJES  -->
<div id="msjClienteModal" name="msjClienteModal" class="modal fade" role="application">
    <div class="modal-dialog">
        <div class="modal-content inside">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title text-center" id="msjClient" name="msjClient"> </label>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2">
                    <input type="button" class="btn btn-primary" style="float:right;" id="cerrar" name="cerrar" value="Aceptar" onclick="CloseMensajeClienteModal();" />
                </div>
            </div>
        </div>
    </div>
</div>


<!--CAMPOS UTILIZADOS PARA LECTURA DE DATOS -->
<div id="camposOcultos">
    <input type="hidden" id="tipoDocumento" name="tipoDocumento" />
    <input type="hidden" id="tipoDocumentoId" name="tipoDocumentoId" />
    <input type="hidden" id="flujoDescripcion" name="flujoDescripcion" />
    <input type="hidden" id="flujoId" name="flujoId" />
    <input type="hidden" id="destino" name="destino" />
    <input type="hidden" id="destinoId" name="destinoId" />
    <input type="hidden" id="paso" name="paso" value="1" />
    <input type="hidden" id="aprobador" name="aprobador" />
    <input type="hidden" id="cedulaAprobador" name="cedulaAprobador" />
    <input type="hidden" id="emailAprobador" name="emailAprobador" />
    <input type="hidden" id="aprobadorSuplente1" name="aprobadorSuplente1" />
    <input type="hidden" id="cedulaSuplente1" name="cedulaSuplente1" />
    <input type="hidden" id="emailSuplente1" name="emailSuplente1" />
    <input type="hidden" id="aprobadorSuplente2" name="aprobadorSuplente2" />
    <input type="hidden" id="cedulaSuplente2" name="cedulaSuplente2" />
    <input type="hidden" id="emailSuplente2" name="emailSuplente2" />
</div>




@section scripts {
    <script src="~/js/WorkflowScript.js"></script>
    <script src="~/js/select2.min.js"></script>
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/legalizaciones/lib/datatables.net/js/jquery.dataTables.js"></script>

}

