USE [DB_A486E4_Legalizaciones]
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertKactusEmpleado]    Script Date: 19/06/2019 12:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Sp_InsertKactusEmpleado] 
(                   @Nueva INT,
                    @Cargo VARCHAR(50),
                    @CargoEmpleado VARCHAR(50),
                    @Celular VARCHAR(50),
                    @CentroCosto VARCHAR(50),
                    @CodCiudadExpedicion VARCHAR(50),
                    @CodCiudadResidencia VARCHAR(50),
                    @CodDeptoExpedicion VARCHAR(50),
                    @CodDeptoResidencia VARCHAR(50),
                    @CodTipoEspPersonaPreliq VARCHAR(50),
                    @CodTipoPersona VARCHAR(50),
                    @CodUbicacion VARCHAR(50),
                    @CodigoArea VARCHAR(50),
                    @CodigoEmpresa VARCHAR(50),
                    @CodigoGrupo VARCHAR(50),
                    @CodigoNivel VARCHAR(50),
                    @CodigoNivel1 VARCHAR(50),
                    @CodigoNivel2 VARCHAR(50),
                    @CodigoNivel3 VARCHAR(50),
                    @CodigoNivel4 VARCHAR(50),
                    @CodigoNivel5 VARCHAR(50),
                    @CodigoNivel6 VARCHAR(50),
                    @CodigoNivel7 VARCHAR(50),
                    @Direccion VARCHAR(50),
                    @Email VARCHAR(50),
                    @Eps VARCHAR(50),
                    @EscalaSalarial VARCHAR(50),
                    @EstadoEmpleado VARCHAR(50),
                    @ExtensionCompania VARCHAR(50),
                    @FecActCargo VARCHAR(50),
                    @FecActContr VARCHAR(50),
                    @FechaInicioContrato VARCHAR(50),
                    @FechaNacimiento VARCHAR(50),
                    @GanaExtras VARCHAR(50),
                    @IdentificacionExterna VARCHAR(50),
                    @NombreNivel VARCHAR(50),
                    @NombreNivel1 VARCHAR(50),
                    @NombreNivel2 VARCHAR(50),
                    @NombreNivel3 VARCHAR(50),
                    @NombreNivel4 VARCHAR(50),
                    @NombreNivel5 VARCHAR(50),
                    @NombreNivel6 VARCHAR(50),
                    @NombreNivel7 VARCHAR(50),
                    @NumeroContrato VARCHAR(50),
                    @NumeroDeIdentificacion VARCHAR(50),
                    @PrimerApellido VARCHAR(50),
                    @PrimerNombre VARCHAR(50),
                    @PuedeSerVisitado VARCHAR(50),
                    @Rh VARCHAR(50),
                    @SegundoApellido VARCHAR(50),
                    @SegundoNombre VARCHAR(50),
                    @Telefono VARCHAR(50),
                    @TipoContratista VARCHAR(50),
                    @TipoDeIdentificacion VARCHAR(50),
                    @TipoDeSangre VARCHAR(50),
                    @Titular VARCHAR(50),
                    @ValidoParaLiqNomina VARCHAR(50),
                    @VencimientoAccion VARCHAR(50)
)
AS
BEGIN
SET NOCOUNT ON;

     If (@Nueva = 0)
	  Begin
       TRUNCATE TABLE KactusEmpleado;
	   End ;

        INSERT INTO KactusEmpleado (
		            Cargo ,
                    CargoEmpleado ,
                    Celular ,
                    CentroCosto ,
                    CodCiudadExpedicion ,
                    CodCiudadResidencia ,
                    CodDeptoExpedicion ,
                    CodDeptoResidencia ,
                    CodTipoEspPersonaPreliq ,
                    CodTipoPersona ,
                    CodUbicacion ,
                    CodigoArea ,
                    CodigoEmpresa ,
                    CodigoGrupo ,
                    CodigoNivel ,
                    CodigoNivel1 ,
                    CodigoNivel2 ,
                    CodigoNivel3 ,
                    CodigoNivel4 ,
                    CodigoNivel5 ,
                    CodigoNivel6 ,
                    CodigoNivel7 ,
                    Direccion ,
                    Email ,
                    Eps ,
                    EscalaSalarial ,
                    EstadoEmpleado ,
                    ExtensionCompania ,
                    FechaActCargo ,
                    FechaActContr ,
                    FechaInicioContrato ,
                    FechaNacimiento ,
                    GanaExtras ,
                    IdentificacionExterna ,
                    NombreNivel ,
                    NombreNivel1 ,
                    NombreNivel2 ,
                    NombreNivel3 ,
                    NombreNivel4 ,
                    NombreNivel5 ,
                    NombreNivel6 ,
                    NombreNivel7 ,
                    NumeroContrato ,
                    NumeroIdentificacion ,
                    PrimerApellido ,
                    PrimerNombre ,
                    PuedeSerVisitado ,
                    Rh ,
                    SegundoApellido ,
                    SegundoNombre ,
                    Telefono ,
                    TipoContratista ,
                    TipoDeIdentificacion ,
                    TipoDeSangre ,
                    Titular ,
                    ValidoParaLiqNomina ,
                    VencimientoAccion ) 
					VALUES 
					(
					@Cargo ,
                    @CargoEmpleado ,
                    @Celular ,
                    @CentroCosto ,
                    @CodCiudadExpedicion ,
                    @CodCiudadResidencia ,
                    @CodDeptoExpedicion ,
                    @CodDeptoResidencia ,
                    @CodTipoEspPersonaPreliq ,
                    @CodTipoPersona ,
                    @CodUbicacion ,
                    @CodigoArea ,
                    @CodigoEmpresa ,
                    @CodigoGrupo ,
                    @CodigoNivel ,
                    @CodigoNivel1 ,
                    @CodigoNivel2 ,
                    @CodigoNivel3 ,
                    @CodigoNivel4 ,
                    @CodigoNivel5 ,
                    @CodigoNivel6 ,
                    @CodigoNivel7 ,
                    @Direccion ,
                    @Email ,
                    @Eps ,
                    @EscalaSalarial ,
                    @EstadoEmpleado ,
                    @ExtensionCompania ,
                    @FecActCargo ,
                    @FecActContr ,
                    @FechaInicioContrato ,
                    @FechaNacimiento ,
                    @GanaExtras ,
                    @IdentificacionExterna ,
                    @NombreNivel ,
                    @NombreNivel1 ,
                    @NombreNivel2 ,
                    @NombreNivel3 ,
                    @NombreNivel4 ,
                    @NombreNivel5 ,
                    @NombreNivel6 ,
                    @NombreNivel7 ,
                    @NumeroContrato ,
                    @NumeroDeIdentificacion ,
                    @PrimerApellido ,
                    @PrimerNombre ,
                    @PuedeSerVisitado ,
                    @Rh ,
                    @SegundoApellido ,
                    @SegundoNombre ,
                    @Telefono ,
                    @TipoContratista ,
                    @TipoDeIdentificacion ,
                    @TipoDeSangre ,
                    @Titular ,
                    @ValidoParaLiqNomina ,
                    @VencimientoAccion
					);


END ;