@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Legalizaciones.Web.Models.ViewModel.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <strong>Home</strong>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-header with-border">
                <span class="fa fa-info-circle" id="CapaTitulo"></span>
                <h1 class="box-title">Bienvenido(a) al Sistema de Legalizaciones: @HttpContextAccessor.HttpContext.Session.GetString("Usuario_Nombre") @HttpContextAccessor.HttpContext.Session.GetString("Usuario_Area") </h1>

            </div>

            <br />

            <div class="content-header">
                <div class="row">
                    <p class="col-md-12">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in sapien non nunc imperdiet bibendum. Vivamus orci sapien, dapibus dapibus convallis in, tempor et tellus. Suspendisse iaculis nibh vitae congue mattis. Phasellus ac lectus a leo fringilla tincidunt sit amet in nisi. Sed maximus euismod nulla a rutrum. Phasellus ut ultricies ante. Etiam lacinia bibendum tempus. Sed vulputate, libero sit amet lacinia posuere, elit magna porttitor purus, eget accumsan ex orci vitae est. Donec maximus leo quis mi euismod, sed tincidunt mauris bibendum.
                    </p>
                    <p class="col-md-12">
                        Suspendisse maximus, felis a gravida mattis, ipsum eros venenatis ante, et elementum eros quam sit amet elit. Pellentesque sit amet ante urna. Quisque in risus accumsan, tristique neque eu, sodales lacus. Phasellus erat ipsum, venenatis molestie eleifend eget, mollis sed nisi. Cras semper leo vel dui gravida, ornare auctor orci consectetur. Quisque tempor risus eget odio bibendum faucibus. In nunc urna, congue nec luctus et, varius in lorem. Proin eget auctor lorem. Morbi eget nisl sapien. Mauris faucibus auctor dolor, nec dapibus justo varius sed. Vivamus augue lectus, ultrices eget nulla vitae, viverra aliquam diam. Pellentesque sit amet magna nisi. Maecenas porttitor id ex at fringilla. Aliquam ornare fermentum massa et dignissim. Proin id odio finibus, dictum enim id, pellentesque ligula. Donec aliquet velit ac neque dignissim hendrerit.
                    </p>
                </div>
                <br />
            </div>




        </div>
    </div>
</div>


<script type="text/javascript">

        function Cambiar() {

            var wCedula = $("#Cedula option:selected").val();
            var wtargetUrl = "/Home/Cambiar?wCedula=" + wCedula;

            window.location.href = wtargetUrl;

        }

</script>